<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/header :: header"></div>
<body>
    <div th:replace="admin/fragments/header :: navbar"></div>
    <div class="container">
        <div class="row">
            <h1 class="py-4">List Blog Posts</h1>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th style="width:10%">#</th>
                    <th style="width:20%">Post Title</th>
                    <th style="width:30%">Post Short Description</th>
                    <th style="width:20%">Post Created At</th>
                    <th style="width:20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="post, postStat : ${posts}">
                    <td th:text="${postStat.count}">1</td>
                    <td th:text="${post.title}">post title</td>
                    <td th:text="${post.shortDescription}">post short description</td>
                    <td th:text="${post.createdAt}">post created date</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="admin/fragments/footer :: footer"></div>
</body>
</html>