<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="/blog/fragments/header :: header"></div>
<body>
<div th:replace="/blog/fragments/header :: navbar"></div>

<div class="container py-4">
  <div class="row">
    <div class="col-md-9">
      <h2 th:text="${post.title}">Post Title</h2>
      <hr />
      <h4 th:text="${post.shortDescription}">Post Short Description</h4>
      <hr />
      <div th:utext="${post.content}" class="pb-4"></div>
    </div>
    <div class="col-md-3">
      <!-- Search bar -->
      <div th:replace="/blog/fragments/search :: search"></div>
    </div>
  </div>
</div>

<div th:replace="/blog/fragments/footer :: footer"></div>
</body>
</html>