<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="/blog/fragments/header :: header"></div>
<body>
  <div th:replace="/blog/fragments/header :: navbar"></div>

  <div class="container py-4">
    <div class="row">
      <div class="col-md-9">
        <div th:each="post: ${postsResponse}">
          <div class="card">
            <div class="card-header">
              <h3>
                <a th:href="@{/post/{postUrl}(postUrl=${post.url})}" th:text="${post.title}"></a>
              </h3>
              <div>
                <strong th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></strong>
              </div>
            </div>
            <div class="card-body">
              <span th:utext="${post.shortDescription}"></span>
              <a th:href="@{/post/{postUrl}(postUrl=${post.url})}">Read More</a>
            </div>
          </div>
          <br />
        </div>
      </div>
      <div class="col-md-3">
        <div th:replace="/blog/fragments/search :: search"></div>
      </div>
    </div>
  </div>

  <div th:replace="/blog/fragments/footer :: footer"></div>
</body>
</html>